<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Rails Command Generator", root_path, id: "logo", class: "" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Controller", controller_path %></li>
        <li><%= link_to "Model", model_path %></li>
        <li><%= link_to "Scaffold", scaffold_path %></li>
      </ul>
    </nav>
  </div>
</header>